<div class="project">
  <img class="project_img {{imageClass}}" src="{{image}}" alt="{{alt}}">
  <div class="project_description">
    <h3 class="project_title">{{title}}</h3>
    <p class="project_description">{{description}}</p>
  </div>
</div>
